<!DOCTYPE html>
<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.js"></script>
    <script>
        const windows = JSON.parse('{{ window_list["Windows"] | tojson | safe }}')
        const colorList = ['red', 'green', 'blue', 'grey', 'white', 'purple', 'orange']
        function setup() {
            createCanvas(1920, 1080)
            background(200);

            // Set colors
            fill(255, 255, 255, 127);
            strokeWeight(4);
            stroke(20);
            tint(127);
            colorMode(RGB, 255, 255, 255, 1)

            //Set text
            textSize(10)
        }

        function draw() {
            for (let i = 0; i < windows.length; i++) {
                rect(Number(windows[i].X), Number(windows[i].Y), Number(windows[i].Width), Number(windows[i].Height));
                text(windows[i].Window_name, Number(windows[i].X + 100), Number(windows[i].Y - -100), [Number(windows[i].Width)], [Number(windows[i].Height)]);
            }

        }

    </script>
</head>

<body>
</body>

</html>