<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/rambar.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/tables.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
</head>

<body>
    
    <table id="mega_table">
        <tr><td><div id="top_bar" align="left"></div></td><td><div id="top_bar_ip" align="right"></div></td><td align="right"><a href="{{ url_for('terminal_page', filename='terminal.html') }}" style="padding-right: 15%;">TERMINAL</a><a href="{{ url_for('drop_session')}}">LOG OUT</a></td></tr>
        <tr>
            
            <th>HTOP</th>
            <th>Windows</th>
            <th>Disks</th>
        </tr>

        <td valign="top">
            <iframe id="htop" src="" height="500" width="900"></iframe>
            <canvas id="chartContainer" class="chart"></canvas>
            <!--<canvas id="chartContainerTemps" style="height: 100px; width:200px;"></canvas> -->
        </td>
        <td valign="top">
            <table id="window_table" class="win_table"></table>
        </td>
        <td valign="top">
            <table id="disk_table" class="win_table"></table>
            <br>
            <table id="ram_container" class="ram_container" border="1">
                <tr>
                    <th>RAM</th>
                </tr>
                <tr>
                    <td><div id="ramProgress" class="ram">
                        <div id="ramBar"></div>
                    </div>
                </td>
                </tr>
                <tr id="ram_test">
                    
                </tr>
            </table>
            
        </td>
        
        <!-- <td><tr><a href="{{ url_for('terminal_page', filename='terminal.html') }}">TO TERMINAL</a></tr><tr><a href="{{ url_for('drop_session')}}">LOG OUT</a></tr></td> -->
        <!-- <td><a href="{{ url_for('drop_session')}}">LOG OUT</a></td> -->
        </tr>
        
    </table>


    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/updateTables.js')}}"></script>

    <script> <!--takes care of top bar-->
        $(document).ready(function () {
            $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};

            $.getJSON($SCRIPT_ROOT + "/jconfig", function (data) {
            console.log(data[0], data[2][1]);
            console.log("LOCAALPORTS: " + data)
            $("#htop").attr("src", "http://" + data[0]+ ":" + data[2][1]);
        });

        $.getJSON($SCRIPT_ROOT + "/jstats", function (data) {
            cur = JSON.stringify(data);
            console.log(data["MACHINE_INFO"])
            $("#top_bar").text(data["MACHINE_INFO"]);
            $("#top_bar_ip").text("IP: " + data["IP_ADDR"]);
        });
        $.getJSON($SCRIPT_ROOT + "/jstats", function (data) {
            var row = document.createElement("TR");
            var cell = row.insertCell();
            cell.append("Total: ")
            var cell = row.insertCell();
            cell.appendChild(document.createTextNode(data["RAM"]["total"].toString()));
            $("#ram_test").append(cell);
    });
});
//https://cdnjs.com/libraries/Chart.js
//https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js

    </script>

    <script>
        $(document).ready(function () {
            //$SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
            $SCRIPT_ROOT = ""
        
        $.getJSON($SCRIPT_ROOT + "/jstats", function (data) {
            var barTest = document.getElementById("ramProgress");
            //barTest.innerHTML = "TEST";
        });
        
        //Initialize lists and vars
        var cpoints = [];
        var cputemps0 = [];
        var cputemps1 = [];
        var cputemps2 = [];
        var cputemps3 = [];
        updateWinTable();
        updateDiskTable();
        updateCPUTable();
        ramBar();
        //updateCPUTempTable(cputemps0, cputemps1, cputemps2, cputemps3)
        var prev = null;
        var cur = null;
        var cur_disks = null;
        var cur_windows = null;
        var cur_cpu = null;
        var cur_ram = null;
        var prev_disks = null;
        var prev_windows = null;
        var prev_cpu = null;
        var prev_ram = null;
        setInterval(function () {
            $.getJSON($SCRIPT_ROOT + "/jstats", function (data) {
                cur = JSON.stringify(data);
                cur_disks = JSON.stringify(data["Disks"])
                cur_windows = JSON.stringify(data["Windows"])
                cur_cpu = JSON.stringify(data["CPU"])
                cur_ram = JSON.stringify(data["RAM"])
                //console.log(cur)
                if (prev_disks && cur_disks && prev_disks !== cur_disks) {
                    console.log('refresh disks');
                    updateDiskTable();
                }
                if (prev_windows && cur_windows && prev_windows !== cur_windows) {
                    console.log('refresh windows');
                    updateWinTable();
                }
                if (prev_cpu && cur_cpu && prev_cpu !== cur_cpu) {
                    console.log('refresh cpu');
                    cpoints.push(data["CPU"]["CPU Percent"])
                    if (cpoints.length >= 21) { //Keeps only 20 points in view of chart.
                        cpoints.shift()
                    }
                    if (data["CPU"]["Thermals"] != null) {
                        cputemps0.push(data["CPU"]["Thermals"]["Core 0"])
                        cputemps1.push(data["CPU"]["Thermals"]["Core 1"])
                        cputemps2.push(data["CPU"]["Thermals"]["Core 2"])
                        cputemps3.push(data["CPU"]["Thermals"]["Core 3"])
                        if (cputemps0.length, cputemps1.length, cputemps2.length, cputemps3.length >= 21) { //Keeps only 20 points in view of chart.
                            cputemps0.shift()
                            cputemps1.shift()
                            cputemps2.shift()
                            cputemps3.shift()
                        }
                    }
                    //console.log("CPUTEMPS 0 " + cputemps0)
                    //console.log("CPUTEMPS 1 " + cputemps1)
                    //console.log("CPUTEMPS 2 " + cputemps2)
                    console.log("CPOINTS" + cpoints)
                    updateCPUTable(cpoints);
                    //updateCPUTempTable(cputemps0, cputemps1, cputemps2, cputemps3)
                }
                if (prev_ram && cur_ram && prev_ram !== cur_ram) {
                    console.log('refresh RAM');
                    console.log("SENT PERCENT: " + data["RAM"]["percent"])
                    ramBar(data["RAM"]["percent"], data["RAM"]["used"], data["RAM"]["free"]);
                }
                prev = cur;
                prev_disks = cur_disks;
                prev_windows = cur_windows;
                prev_cpu = cur_cpu;
                prev_ram = cur_ram;
            });
        }, 1000);   
        });

    </script>

</body>
</html>