<body>
    <table id="mega_table">
        <tr>
            <div id="top_bar"></div>
            <th>Windows</th>
            <th>Disks</th>
            <th>HTOP</th>
        </tr>

        <td valign="top">
            <iframe src="http://127.0.0.1:8080/" height="500" width="900"></iframe>
            <canvas id="chartContainer" style="height: 370px; width:800px;"></canvas>
        </td>
        <td valign="top">
            <table id="window_table" border="1"></table>
        </td>
        <td valign="top">
            <table id="disk_table" border="1"></table>
        </td>
        </tr>
    </table>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/updateTables.js')}}"></script>

    <script> <!--takes care of top bar-->
        $(document).ready(function () {
            $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};


        $.getJSON($SCRIPT_ROOT + "/jstats", function (data) {
            cur = JSON.stringify(data);
            console.log(data["MACHINE_INFO"])
            $("#top_bar").text(data["MACHINE_INFO"] + " | IP: " + data["IP_ADDR"]);
        });
    });

    </script>


    <script>
        $(document).ready(function () {
            $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};


        var cpoints = [];
        updateWinTable();
        updateDiskTable();
        updateCPUTable();
        var prev = null;
        var cur = null;
        setInterval(function () {
            $.getJSON($SCRIPT_ROOT + "/jstats", function (data) {
                cur = JSON.stringify(data);
                //console.log(cur)
                if (prev && cur && prev !== cur) {
                    console.log('refresh');
                    updateWinTable();
                    updateDiskTable();
                    cpoints.push(data["CPU"][0]["CPU Percent"])
                    if (cpoints.length >= 11) { //Keeps only 10 points in view of chart.
                        cpoints.shift()
                    }
                    console.log("CPOINTS" + cpoints)
                    updateCPUTable(cpoints);
                    //updateCPUTable(cpoints).myLineChart.update();
                }
                prev = cur;
            });
        }, 1000);   
        });

    </script>

</body>