#ramProgress {
    width: 100%;
    background-color: grey;
}
#ramBar {
    width: 1%;
    height: 30px;
    background-color: green;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white; 
}